<!-- grid-choose.html -->
<div class="w3-container">
   <style>
      #grid-list {
         overflow:scroll;
         overflow-x:hidden;
         height:350px;
      }
   </style>
   <div id="gc-dialog" class="w3-modal" style="display:none">
      <div class="w3-modal-content" style="width:40%;">
         <header class="w3-container w3-blue-gray">
            <h3>Grid chooser</h3>
            <span class="w3-button w3-display-topright w3-hover-red"
                  onclick="hideElement('gc-dialog');"
            >&times;</span>
         </header>
         <div class="w3-container">
            <p>Chooose from the following grids:</p>
            <div class="w3-section">
               <ul id="grid-list" class="w3-ul w3-card-2">
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
