{% extends "main.html" %}
{% block header %}
<script>
{% include "grid.js" %}
</script>

<div class="w3-container">
    <h3>Editing grid
        {% if gridname %} {{ gridname }} {% else %} (untitled) {% endif %}
    </h3>
</div>

<div class="w3-container w3-margin-bottom" style="width:700;height:36">
<div class="w3-bar w3-border"> <!-- Toolbar -->

    <!-- Save -->
    <a class="w3-bar-item w3-button crosstb
            {% if not enabled.grid_save %} w3-disabled {% endif %}"
            {% if enabled.grid_save %}
            onclick="do_grid_save(
            {% if gridname %}
            '{{gridname}}'
            {% else %}
            ''
            {% endif %}
            )"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">save</i>
        <span>Save</span>
    </a>

    <!-- Close -->
    <a class="w3-bar-item w3-button crosstb
            {% if not enabled.grid_close %} w3-disabled {% endif %}"
            {% if enabled.grid_close %}
            onclick="do_grid_close()"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">close</i>
        <span>Close</span>
    </a>

    <!-- Stats -->
    <a class="crosstb w3-bar-item w3-button crosstb
            {% if not enabled.grid_stats %} w3-disabled {% endif %}"
            {% if enabled.grid_stats %}
            onclick="do_grid_stats()"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">info</i>
        <span>Info</span>
    </a>

    <!-- Rotate -->
    <a class="crosstb w3-bar-item w3-button crosstb
            {% if not enabled.grid_rotate %} w3-disabled {% endif %}"
            {% if enabled.grid_rotate %}
            onclick="do_grid_rotate()"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">rotate_90_degrees_ccw</i>
        <span>Rotate</span>
    </a>

    <!-- Delete -->
    <a class="w3-bar-item w3-button crosstb
            {% if not enabled.grid_delete %} w3-disabled {% endif %}"
            {% if enabled.grid_delete %}
            onclick="do_grid_delete('{{ gridname }}')"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">delete_forever</i>
        <span>Delete</span>
    </a>

</div> <!-- End of toolbar -->
</div>
{% endblock header %}

{% block LHS %}
<div class="w3-container">Click grid to set up black cells</div>
<div id="grid-svg" class="w3-container" onclick="grid_click(event)">
  {{ svgstr|safe }}
</div>
{% endblock LHS %}
