<!-- grid-preview.html -->
<div class="w3-container">
   <div id="gv-dialog" class="w3-modal" style="display:none">
      <div class="w3-modal-content">
         <div class="w3-container w3-blue-gray">
            <p>Preview of grid {{ gridname }}</p>
            <span class="w3-button w3-xlarge w3-hover-red w3-display-topright"
                  onclick="hideElement('gv-dialog');"
                  >&times;</span>
         </div>
         <div class="gv-svg"></div>
      </div>
   </div>
</div>
