<!-- header.html -->
<html>
<head>
<title>Crossword Puzzle Editor</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Example of use: <i class="material-icons" style="font-size:14px">move_to_inbox</i>  -->
</head>
<body>
<div class="w3-container"><h1>Crossword Puzzle Editor</h1></div>
{% include 'grid-choose.html' %}
{% include 'grid-close.html' %}
{% include 'grid-delete.html' %}
{% include 'grid-exists.html' %}
{% include 'grid-preview.html' %}
{% include 'grid-new.html' %}
{% include 'grid-save-as.html' %}
{% include 'grid-save.html' %}
{% include "menu.html" %}
{% include 'puzzle-choose.html' %}
{% include 'puzzle-close.html' %}
{% include 'puzzle-delete.html' %}
{% include 'puzzle-exists.html' %}
{% include 'puzzle-preview.html' %}
{% include 'puzzle-save-as.html' %}
{% include 'puzzle-save.html' %}
{% include 'puzzle-title-set.html' %}
{% include 'statistics.html' %}
