<!-- menu.html -->
<script>
{% include 'crossword.js' %}
</script>
<div class="w3-bar w3-blue-gray">
   <div class="w3-dropdown-hover w3-blue-gray">
      <button class="w3-button">Grid</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
         <a class="w3-bar-item w3-button
            {% if not enabled.grid_new %} w3-disabled {% endif %}"
            {% if enabled.grid_new %}
            href="#"
            onclick="do_grid_new()"
            {% endif %}
            >New grid...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.grid_open %} w3-disabled {% endif %}"
            {% if enabled.grid_open %}
            href="#"
            onclick="do_grid_open()"
            {% endif %}
            >Open grid...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.grid_save %} w3-disabled {% endif %}"
            {% if enabled.grid_save %}
            onclick="do_grid_save(
            {% if gridname %}
            '{{gridname}}'
            {% else %}
            ''
            {% endif %}
            )"
            {% endif %}
            >Save grid</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.grid_save_as %} w3-disabled {% endif %}"
            {% if enabled.grid_save_as %}
            onclick="do_grid_save_as()"
            {% endif %}
            >Save grid as...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.grid_close %} w3-disabled {% endif %}"
            {% if enabled.grid_close %}
            onclick="do_grid_close()"
            {% endif %}
            >Close grid</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.grid_delete %} w3-disabled {% endif %}"
            {% if enabled.grid_delete %}
            onclick="do_grid_delete()"
            {% endif %}
            >Delete grid</a>
      </div>
   </div>
   <div class="w3-dropdown-hover w3-blue-gray">
      <button class="w3-button">Puzzle</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
         <a class="w3-bar-item w3-button
            {% if not enabled.puzzle_new %} w3-disabled {% endif %}"
            {% if enabled.puzzle_new %}
            href="#"
            onclick="do_puzzle_new()"
            {% endif %}
            >New puzzle...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.puzzle_open %} w3-disabled {% endif %}"
            {% if enabled.puzzle_open %}
            href="#"
            onclick="do_puzzle_open()"
            {% endif %}
            >Open puzzle...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.puzzle_save %} w3-disabled {% endif %}"
            {% if enabled.puzzle_save %}
            onclick="do_puzzle_save(
            {% if puzzlename %}
            '{{puzzlename}}'
            {% else %}
            ''
            {% endif %}
            )"
            {% endif %}
            >Save puzzle</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.puzzle_save_as %} w3-disabled {% endif %}"
            {% if enabled.puzzle_save_as%}
            onclick="do_puzzle_save_as()"
            {% endif %}
            >Save puzzle as...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.puzzle_close %} w3-disabled {% endif %}"
            {% if enabled.puzzle_close %}
            onclick="do_puzzle_close()"
            {% endif %}
            >Close puzzle</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.puzzle_delete %} w3-disabled {% endif %}"
            {% if enabled.puzzle_delete %}
            onclick="do_puzzle_delete()"
            {% endif %}
            >Delete puzzle</a>
      </div>
   </div>
   <div class="w3-dropdown-hover w3-blue-gray">
      <button class="w3-button">Publish</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
         <a class="w3-bar-item w3-button"
            href="#"
            onclick="do_puzzle_publish_acrosslite()"
            >Across Lite format</a>
         <a class="w3-bar-item w3-button"
            href="#"
            onclick="do_puzzle_publish_nytimes()"
            >New York Times format</a>
      </div>
   </div>
   <a class="w3-bar-item w3-button w3-right"
      href="https://github.com/philhanna/crossword/wiki"
   >Help</a>
</div>
