<script>
    function messageBox(title, prompt, ok) {
        document.getElementById("mb-title").innerHTML = title;
        document.getElementById("mb-prompt").innerHTML = prompt;
        document.getElementById("mb-ok").href = ok;
        showElement("mb")
    }
</script>
<div id="mb" class="w3-modal" style="display:none">
    <div class="w3-modal-content w3-card-4" style="width:30%">
        <div class="w3-blue-gray w3-center">
            <span class="w3-button w3-display-topright" onclick="hideElement('mb')">&times;</span>
            <h3 id="mb-title"></h3>
        </div>
        <div class="w3-container">
            <div class="w3-section">
                <span id="mb-prompt"></span>
            </div>
            <div class="w3-section w3-center">
                <!-- OK button -->
                <a class="w3-button w3-border w3-round w3-gray"
                   id="mb-ok"
                   href="#"
                   style="width:100px">OK</a>
                <!-- Cancel button -->
                <button class="w3-button w3-border w3-round w3-gray"
                        onclick="hideElement('mb')"
                        style="width:100px">Cancel</button>
            </div>
        </div>
    </div>
</div>
