<!-- puzzle.html -->
{% include 'header.html' %}
<div class="w3-container">
    <h3>Editing puzzle
        {% if puzzlename %}
        <b>{{ puzzlename }}</b>
        {% else %}
        (untitled)
        {% endif %}
        {% if puzzletitle %}
        : "{{ puzzletitle }}"
        {% endif %}
    </h3>
</div>

<div class="w3-container w3-margin-bottom" style="width:700;height:36">
<div class="w3-bar w3-border"> <!-- Toolbar -->
    <style>
        .crosstb {
            vertical-align: top;
            font-size: 12px;
        }
        .crosstb-icon { font-size: 15px; }
    </style>

    <!-- Save -->
    <a class="w3-bar-item w3-button crosstb
            {% if not enabled.puzzle_save %} w3-disabled {% endif %}"
            {% if enabled.puzzle_save %}
            onclick="do_puzzle_save(
            {% if puzzlename %}
            '{{puzzlename}}'
            {% else %}
            ''
            {% endif %}
            )"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">save</i>
        <span>Save</span>
    </a>

    <!-- Close -->
    <a class="w3-bar-item w3-button crosstb
            {% if not enabled.puzzle_close %} w3-disabled {% endif %}"
            {% if enabled.puzzle_close %}
            onclick="do_puzzle_close()"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">close</i>
        <span>Close</span>
    </a>

    <!-- Stats -->
    <a class="crosstb w3-bar-item w3-button crosstb
            {% if not enabled.puzzle_stats %} w3-disabled {% endif %}"
            {% if enabled.puzzle_stats %}
            onclick="do_puzzle_stats()"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">info</i>
        <span>Info</span>
    </a>

    <!-- Set title -->
    <a class="w3-bar-item w3-button crosstb
            {% if not enabled.puzzle_title %} w3-disabled {% endif %}"
            {% if enabled.puzzle_title %}
            onclick="do_puzzle_title()"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">title</i>
        <span>Title</span>
    </a>

    <!-- Undo -->
    <a class="w3-bar-item w3-button crosstb
            {% if not enabled.puzzle_undo %} w3-disabled {% endif %}"
            {% if enabled.puzzle_undo %}
            onclick="do_puzzle_undo()"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">undo</i>
        <span>Undo</span>
    </a>

    <!-- Redo -->
    <a class="w3-bar-item w3-button crosstb
            {% if not enabled.puzzle_redo %} w3-disabled {% endif %}"
            {% if enabled.puzzle_redo %}
            onclick="do_puzzle_redo()"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">redo</i>
        <span>Redo</span>
    </a>

    <!-- Delete -->
    <a class="w3-bar-item w3-button crosstb
            {% if not enabled.puzzle_delete %} w3-disabled {% endif %}"
            {% if enabled.puzzle_delete %}
            onclick="do_puzzle_delete()"
            {% endif %}
            >
        <i class="material-icons crosstb-icon">delete_forever</i>
        <span>Delete</span>
    </a>

</div> <!-- End of toolbar -->
</div>

<div class="w3-cell-row"> <!-- Three columns: SVG, across clues, down clues -->

    <!-- Image -->
    <div    id="puzzle-svg"
            class="w3-container w3-cell"
            style="width:40%"
            onclick="puzzle_click(event)">
      {{ svgstr|safe }}
    </div>

    <style>
      .clue-list {
         overflow:scroll;
         overflow-x:hidden;
         height:436px;
         width:95%;
         line-height:95%;
      }
      .clue-list a {
         text-decoration:none;
      }
      .clue-list li {
        font-size: 11pt;
        font-family: Verdana;
      }
    </style>
    <!-- Across clues -->
    <div class="w3-section w3-cell">
        <div class="w3-center w3-margin-bottom"><b>Across</b></div>
        <ul id="puzzle-across-clues"
            class="w3-ul w3-card w3-border w3-hoverable w3-pale-yellow clue-list">
            {% for clue in clues.across %}
            <li>
                <a href="javascript:do_click_across_clue( {{ clue.seq }} );">
                    {{clue.seq}}. {{clue.text}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Down clues -->
    <div class="w3-section w3-cell">
        <div class="w3-center w3-margin-bottom"><b>Down</b></div>
        <ul id="puzzle-down-clues"
            class="w3-ul w3-card w3-border w3-hoverable w3-pale-green clue-list">
            {% for clue in clues.down %}
            <li>
                <a href="javascript:do_click_down_clue( {{ clue.seq }} );">
                    {{clue.seq}}. {{clue.text}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

</div> <!-- End three columns -->

{% include 'word-edit.html' %}
{% include 'footer.html' %}
