<!-- pc-dialog.html -->
<div class="w3-container">
   <style>
      #puzzle-list {
         overflow:scroll;
         overflow-x:hidden;
         height:350px;
      }
   </style>
   <div id="pc-dialog" class="w3-modal" style="display:none">
      <div class="w3-modal-content w3-card-4" style="width:40%;">
         <header class="w3-container w3-blue-gray">
            <h3>Puzzle chooser</h3>
            <span class="w3-button w3-display-topright w3-hover-red"
                  onclick="hideElement('pc-dialog');"
                  >&times;</span>
         </header>
         <div class="w3-container">
            <p>Choose from the following puzzles:</p>
            <div class="w3-section">
               <ul id="puzzle-list" class="w3-ul w3-card-2">
               </ul>
         </div>
         </div>
      </div>
   </div>
</div>
