h1 {
    font-size: 170%;
}
h2 {
    font-size: 150%;
}
h3 {
    padding-top: 5px; /* This was the key! */
    margin: 0;
    font-size: 130%;
    height: 40px;
    vertical-align: bottom;
}
.chooser-list {
    overflow:scroll;
    overflow-x:hidden;
    height:500px;
}
.chooser-list a {
    text-decoration:none;
}

.crosstb {
    vertical-align: top;
    font-size: 12px;
}
.crosstb-icon { font-size: 15px; }

.clue-list {
    overflow:scroll;
    overflow-x:hidden;
    height:436px;
    width:95%;
    line-height:95%;
}
.clue-list a {
    text-decoration:none;
}
.clue-list li {
    font-size: 11pt;
    font-family: Verdana;
}
