<!-- edit-word.html -->
<!-- edit-word-dialog -->
<div id="edit-word-dialog" class="w3-modal">
<!-- modal content -->
<div class="w3-modal-content w3-card-4" style="width:50%;">

<header class="w3-container w3-blue-gray">
<h3 id="edit-word-dialog-heading"></h3>
<span class="w3-button w3-xlarge w3-hover-red w3-display-topright"
      onclick="document.getElementById('edit-word-dialog').style.display='none'"
      >&times;</span>
</header>

<form class="w3-container w3-card-4"
      name="edit-word-form"
      action="{{ url_for('edit_word_screen') }}"
      method="POST"
>

<!-- form section -->
<div class="w3-section">

<!-- Input word -->
<p style="width:50%">
<label class="w3-tooltip">
   Word:
   <span class="w3-text w3-tag w3-small w3-pale-yellow">
      <i>length
         <span id="edit-word-dialog-length"></span>
      </i>
   </span>
</label>
<input   class="w3-input w3-border w3-tooltip"
         id="edit-word-dialog-word"
         name="text"
         style="font-family: Courier; font-size: large"
         maxlength="{{ length }}"
         type="text"
         value="{{ text }}"
/>
</p> <!-- End of input word -->

<!-- Input clue -->
<p style="width:100%">
<label>Clue:</label>
<input   class="w3-input w3-border"
         id="edit-word-dialog-clue"
         name="clue"
         type="text"
         value="{{ clue }}"
/>
</p> <!-- End of input clue -->

<!-- Button container -->
<div class="w3-container">

<button  class="w3-button w3-border w3-round w3-gray"
style="width:100px"
type="submit"
>OK</button>

<button  class="w3-button w3-border w3-round w3-gray"
style="width:100px"
type="button"
onclick="document.getElementById('edit-word-dialog').style.display='none'"
>Cancel</button>
<button  class="w3-button w3-border w3-round w3-gray"
style="width:100px"
type="button"
onclick="do_suggest_word()"
>Suggest</button>

</div> <!-- End of button container -->
   <div class="w3-panel" id="edit-word-wordlist" style="display:none">
      <label for="words">Possible matches:</label>
      <select name="words" id="edit-word-wordlist-select">
      </select>
   </div>
</div> <!-- End of form section -->
</form>
</div> <!-- End of modal content -->
</div> <!-- End of edit-word-dialog -->
