<!-- grid-chooser-dialog.html -->
<div class="w3-container">
   <div id="grid-chooser-dialog" class="w3-modal" style="display:none">
      <div class="w3-modal-content" style="width:30%;">
         <header class="w3-container w3-blue-gray">
            <h3>Grid chooser</h3>
            <span class="w3-button w3-display-topright"
                  onclick="document.getElementById('grid-chooser-dialog').style=display='none';"
                  >&times;</span>
         </header>
         <div class="w3-container">
            <p>Chooose from the following grids:</p>
         </div>
         <div class="w3-section w3-padding-large">
            <ul id="grid-list" class="w3-ul w3-card-2">
            </ul>
         </div>
      </div>
   </div>
</div>
