<!-- header.html -->
<html>
<head>
<title>Crossword Puzzle Editor</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Example of use: <i class="material-icons" style="font-size:14px">move_to_inbox</i>  -->
</head>
<body>
<div class="w3-container"><h1>Crossword Puzzle Editor</h1></div>
{% include "menu.html" %}
{% include 'new-grid-dialog.html' %}
{% include 'grid-chooser-dialog.html' %}
{% include 'grid-save-as-dialog.html' %}
{% include 'statistics-dialog.html' %}
{% include 'grid-close-dialog.html' %}
{% include 'grid-delete-dialog.html' %}
{% include 'puzzle-chooser-dialog.html' %}
{% include 'puzzle-save-dialog.html' %}
{% include 'puzzle-save-as-dialog.html' %}
{% include 'puzzle-close-dialog.html' %}
{% include 'puzzle-save-grid-dialog.html' %}
{% include 'puzzle-delete-dialog.html' %}
{% include 'puzzle-title-dialog.html' %}
