<!-- menu.html -->
<script>
{% include 'crossword.js' %}
</script>
<div class="w3-bar w3-blue-gray">
   <div class="w3-dropdown-hover w3-blue-gray">
      <button class="w3-button">Grid</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
         <a class="w3-bar-item w3-button
            {% if not enabled.new_grid %} w3-disabled {% endif %}"
            {% if enabled.new_grid %}
            href="#"
            onclick="do_new_grid()"
            {% endif %}
            >New grid...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.open_grid %} w3-disabled {% endif %}"
            {% if enabled.open_grid %}
            href="#"
            onclick="do_open_grid()"
            {% endif %}
            >Open grid...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.save_grid %} w3-disabled {% endif %}"
            {% if enabled.save_grid %}
            href="{{ url_for('grid_save') }}"
            {% endif %}
            >Save grid</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.save_grid_as %} w3-disabled {% endif %}"
            {% if enabled.save_grid_as %}
            href="#"
            onclick="do_save_grid_as()"
            {% endif %}
            >Save grid as...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.grid_stats %} w3-disabled {% endif %}"
            {% if enabled.grid_stats %}
            onclick="do_grid_stats()"
            {% endif %}
            >Show grid statistics</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.close_grid %} w3-disabled {% endif %}"
            {% if enabled.close_grid %}
            onclick="do_close_grid()"
            {% endif %}
            >Close grid</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.delete_grid %} w3-disabled {% endif %}"
            {% if enabled.delete_grid %}
            onclick="do_delete_grid()"
            {% endif %}
            >Delete grid</a>
      </div>
   </div>
   <div class="w3-dropdown-hover w3-blue-gray">
      <button class="w3-button">Puzzle</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
         <a class="w3-bar-item w3-button
            {% if not enabled.new_puzzle %} w3-disabled {% endif %}"
            {% if enabled.new_puzzle %}
            href="#"
            onclick="do_new_puzzle()"
            {% endif %}
            >New puzzle...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.open_puzzle %} w3-disabled {% endif %}"
            {% if enabled.open_puzzle %}
            href="#"
            onclick="do_open_puzzle()"
            {% endif %}
            >Open puzzle...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.save_puzzle %} w3-disabled {% endif %}"
            {% if enabled.save_puzzle %}
            onclick="do_save_puzzle(
            {% if puzzlename %}
            '{{puzzlename}}'
            {% else %}
            ''
            {% endif %}
            )"
            {% endif %}
            >Save puzzle</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.save_puzzle_as %} w3-disabled {% endif %}"
            {% if enabled.save_puzzle_as %}
            href="#"
            onclick="do_save_puzzle_as()"
            {% endif %}
            >Save puzzle as...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.close_puzzle %} w3-disabled {% endif %}"
            {% if enabled.close_puzzle %}
            onclick="do_close_puzzle()"
            {% endif %}
            >Close puzzle</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.save_puzzle_grid %} w3-disabled {% endif %}"
            {% if enabled.save_puzzle_grid %}
            onclick="do_save_puzzle_grid()"
            {% endif %}
            >Save puzzle grid...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.replace_puzzle_grid %} w3-disabled {% endif %}"
            {% if enabled.replace_puzzle_grid %}
            onclick="do_replace_puzzle_grid()"
            {% endif %}
            >Replace puzzle grid...</a>
         <a class="w3-bar-item w3-button
            {% if not enabled.delete_puzzle %} w3-disabled {% endif %}"
            {% if enabled.delete_puzzle %}
            onclick="do_delete_puzzle()"
            {% endif %}
            >Delete puzzle</a>
      </div>
   </div>
   <div class="w3-dropdown-hover w3-blue-gray">
      <button class="w3-button">Publish</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
         <a class="w3-bar-item w3-button"
            href="#"
            onclick="do_publish_nytimes()"
            >New York Times format</a>
         <a class="w3-bar-item w3-button"
            href="#"
            onclick="do_publish_acrosslite()"
            >Across Lite format</a>
      </div>
   </div>
   <a class="w3-bar-item w3-button w3-right"
      href="https://github.com/philhanna/crossword/wiki"
   >Help</a>
</div>
