<!-- new-grid-dialog.html -->
<div class="w3-container"> <!-- outermost container -->
  <div id="ng-dialog" class="w3-modal"> <!-- new-grid-dialog -->
    <div class="w3-modal-content w3-card-4" style="max-width:400px"> <!-- modal content -->
      <header class="w3-container w3-blue-gray">
        <h3>New grid</h3>
        <span class="w3-button w3-xlarge w3-hover-red w3-display-topright"
            onclick="hideElement('ng-dialog');"
            title="Close Modal"
            >&times;</span>
      </header>
      <form class="w3-container"
            name="ng-form"
            action="{{ url_for('new_grid_screen') }}"
            method="POST"
            onsubmit="return validateNewGridForm()"
      >
        <div class="w3-section"> <!-- form section -->
          <label><b>Grid size:</b> <em>(a single odd positive integer)</em></label>
          <input class="w3-input w3-border w3-margin-top w3-margin-bottom"
                 type="text"
                 name="n"
                 required/>

          <div class="w3-container"> <!-- Button container -->
             <button class="w3-button w3-border w3-round w3-gray"
                     style="width:100px"
                     type="submit"
                     >OK</button>
             <button class="w3-button w3-border w3-round w3-gray"
                     style="width:100px"
                     type="button"
                     onclick="hideElement('ng-dialog')"
                     >Cancel</button>
          </div> <!-- End of button container -->
        </div> <!-- End of form section -->
      </form>
    </div> <!-- End of modal content -->
  </div> <!-- End of new-grid-dialog -->
</div> <!-- End of outermost container -->
