<!-- puzzle.html -->
{% include 'header.html' %}
<div class="w3-container">
    <h3>Editing puzzle
        {% if puzzlename %}
        <b>{{ puzzlename }}</b>
        {% else %}
        (untitled)
        {% endif %}
        {% if puzzletitle %}
        : "{{ puzzletitle }}"
        {% endif %}
    </h3>
</div>
<div class="w3-container"><p>
    Click the starting cell of an "ACROSS" word,
    or double-click to work with a "DOWN" word.</p>
</div>

<div id="puzzle-svg" class="w3-container" onclick="puzzle_click(event)">
  {{ svgstr|safe }}
</div>
{% include 'edit-word.html' %}
{% include 'footer.html' %}
