<!-- puzzle-delete-dialog.html -->
<div class="w3-container">
   <div id="pd-dialog" class="w3-modal" style="display:none">
      <div class="w3-modal-content" style="width:30%;">
         <header class="w3-container w3-blue-gray">
            <h3>Puzzle delete</h3>
            <span class="w3-button w3-xlarge w3-hover-red w3-display-topright"
                  onclick="closeModalDialog('pd-dialog');"
                  >&times;</span>
         </header>
         <div class="w3-container">
            <p>Are you sure you want to delete this puzzle?</p>
         </div>
         <div class="w3-section w3-padding-large">
            <div class="w3-container"> <!-- Button container -->
             <a class="w3-button w3-border w3-round w3-gray"
                     style="width:100px"
                     href="{{ url_for('puzzle_delete_screen') }}"
                     >OK</a>
             <button class="w3-button w3-border w3-round w3-gray"
                     style="width:100px"
                     type="button"
                     onclick="closeModalDialog('pd-dialog')"
                     >Cancel</button>
            </div> <!-- End of button container -->
         </div> <!-- End of w3-section -->
      </div> <!-- End of modal content -->
   </div> <!-- End of pd-dialog -->
</div>
