<!-- puzzle-close-dialog.html -->
<div class="w3-container">
  <div id="px-dialog" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:300px">
      <header class="w3-container w3-blue-gray">
        <h3>Close puzzle</h3>
        <span class="w3-button w3-xlarge w3-hover-red w3-display-topright"
            onclick="hideElement('px-dialog');"
            >&times;</span>
      </header>
      <form class="w3-container"
            name="px-form"
            action="{{ url_for('main_screen') }}"
      >
        <div class="w3-section">
          <header class="w3-container">
            <p>Close puzzle without saving?</p>
          </header>
          <div class="w3-container">
          <button class="w3-button w3-border w3-round w3-gray"
                  style="width:100px"
                  type="submit"
                  >OK</button>
          <button class="w3-button w3-border w3-round w3-gray"
                  style="width:100px"
                  type="button"
                  onclick="hideElement('px-dialog');"
                  >Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
