<!-- puzzle.html -->
{% include 'header.html' %}
<div class="w3-container">
    <h3>Editing puzzle
        {% if puzzlename %}
        <b>{{ puzzlename }}</b>
        {% else %}
        (untitled)
        {% endif %}
        {% if puzzletitle %}
        : "{{ puzzletitle }}"
        {% endif %}
    </h3>
</div>

<div class="w3-container w3-margin-bottom" style="width:700;height:36">
<div class="w3-bar w3-border"> <!-- Toolbar -->
    <style>
        #pztb-save, #pztb-close, #pztb-stats, #pztb-title, #pztb-undo, #pztb-redo, #pztb-delete {
            vertical-align: top;
            font-size: 12px;
        }
        .icon-icon { font-size: 15px; }
    </style>

    <!-- Save -->
    <a id="pztb-save" class="w3-bar-item w3-button
            {% if not enabled.save_puzzle %} w3-disabled {% endif %}"
            {% if enabled.save_puzzle %}
            href="{{ url_for('puzzle_save') }}"
            {% endif %}
            >
        <i class="material-icons icon-icon">save</i>
        <span>Save</span>
    </a>

    <!-- Close -->
    <a id="pztb-close" class="w3-bar-item w3-button
            {% if not enabled.close_puzzle %} w3-disabled {% endif %}"
            {% if enabled.close_puzzle %}
            onclick="do_close_puzzle()"
            {% endif %}
            >
        <i class="material-icons icon-icon">close</i>
        <span>Close</span>
    </a>

    <!-- Stats -->
    <a id="pztb-stats" class="w3-bar-item w3-button
            {% if not enabled.puzzle_stats %} w3-disabled {% endif %}"
            {% if enabled.puzzle_stats %}
            onclick="do_puzzle_stats()"
            {% endif %}
            >
        <i class="material-icons icon-icon">info</i>
        <span>Info</span>
    </a>

    <!-- Set title -->
    <a id="pztb-title" class="w3-bar-item w3-button
            {% if not enabled.puzzle_title %} w3-disabled {% endif %}"
            {% if enabled.puzzle_title %}
            onclick="do_puzzle_title()"
            {% endif %}
            >
        <i class="material-icons icon-icon">title</i>
        <span>Title</span>
    </a>

    <!-- Undo -->
    <a id="pztb-undo" href="#" class="w3-bar-item w3-button">
        <i class="material-icons icon-icon">undo</i>
        <span>Undo</span>
    </a>

    <!-- Redo -->
    <a id="pztb-redo" href="#" class="w3-bar-item w3-button">
        <i class="material-icons icon-icon">redo</i>
        <span>Redo</span>
    </a>

    <!-- Delete -->
    <a id="pztb-delete" class="w3-bar-item w3-button
            {% if not enabled.delete_puzzle %} w3-disabled {% endif %}"
            {% if enabled.delete_puzzle %}
            onclick="do_delete_puzzle()"
            {% endif %}
            ">
        <i class="material-icons icon-icon">delete_forever</i>
        <span>Delete</span>
    </a>

</div> <!-- End of toolbar -->
</div>

<div id="puzzle-svg" class="w3-container" onclick="puzzle_click(event)">
  {{ svgstr|safe }}
</div>
{% include 'edit-word.html' %}
{% include 'footer.html' %}
