<!-- statistics-dialog.html -->
<div class="w3-container">
    <div id="st-dialog" class="w3-modal" style="display:none">
        <div class="w3-modal-content" style="width:60%;">
            <header class="w3-container w3-blue-gray">
                <h3 id="st-title"></h3>
                <span class="w3-button w3-display-topright w3-hover-red w3-large"
                      onclick="hideElement('st-dialog');"
                      >&times;</span>
            </header>
            <div class="w3-container">
                <div class="w3-section w3-cell-row">
                    <div class="w3-cell" style="width:15%"><b>Valid:</b></div>
                    <div id="st-valid" class="w3-cell"></div>
                </div>
                <div class="w3-section w3-cell-row">
                    <div class="w3-cell" style="width:15%"><b>Errors:</b></div>
                    <div id="st-errors" class="w3-cell"></div>
                </div>
                <div class="w3-section w3-cell-row">
                    <div class="w3-cell" style="width:15%"><b>Size:</b></div>
                    <div id="st-size" class="w3-cell"></div>
                </div>
                <div class="w3-section w3-cell-row">
                    <div class="w3-cell" style="width:15%"><b>Word count:</b></div>
                    <div id="st-wordcount" class="w3-cell"></div>
                </div>
                <div class="w3-section w3-cell-row">
                    <div id="st-wordlengths" class="w3-cell"></div>
                </div>
            </div>
        </div>
    </div>
</div>
